* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Flexbox -----------------------------------------*/
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}


/* Margin, padding, colors --------------------------------*/
.px-05 {
    padding: 0 .5rem;
}

.light-text {
    color: #9d9d9d;
    font-size: .7rem;
}

.underlined-text {
    text-decoration: underline;
}

.icon-gray {
    color: #b1b1b1;
}


/* Main ----------------------------------------------*/
main {
    height: 100vh;
    width: 100vw;
    background-color: #dcdbd2;
    position: relative;
}

div.green-band {
    background-color: #009688;
    height: 120px;
}

section.webapp-box {
    width: 85%;
    height: 95%;
    background-color: #eaeaea;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Left container-------------------------------------- */
section.left-container {
    width: 35%;
    height: 100%;
}

.box {
    height: 4rem;
    padding: 1rem;
}


/* Avatar */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f2fbff;
    text-align: center;
}


/* Searchbar */
div.searchbar-container {
    height: 3rem;
    margin: 0 1rem;
}

input {
    height: 2rem;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 5px;
}

.input-button {
    background-color: white;
    height: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input.searchbar {
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* Notifications */
div.enable-notifications {
    background-color: #8edafc;
}


/* Contacts */
.contacts {
    height: calc(100% - 11rem);
    overflow-y: scroll;
    background-color: white;
}

.contact-box {
    background-color: white;
    border-bottom: 1px solid #e9ebeb;
}


/* Right container -------------------------------------*/
section.right-container {
    width: 65%;
    height: 100%;
}

div.conversation-box {
    height: calc(100% - 8rem);
    background-image: url(../img/mine.jpg);
    padding: 1rem;
    overflow-y: scroll;
}


/* Message */
ul {
    list-style: none;
}

.single-message {
    width: 300px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: .5rem;
    text-align: left;
    position: relative;
}

.single-message > p.text-message {
    text-align: left;
    padding: 1rem;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.sent {
    float: right;
    background-color: #d5f9ba;
}

.received {
    float: left;
    background-color: #ffffff;
}

.message-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.active {
    background-color: #e9ebeb;
}

/* Dropdown menu */
.message-menu {
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
}

div.single-message:hover .message-menu {
    display: block;
}

.dropdown-menu {
    background-color: white;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 1;
    font-size: .8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.dropdown-menu li {
    padding: .7rem;
    width: 120px;
}

.dropdown-menu li:hover {
    background-color: rgb(240, 240, 240);
}


/* Write message */
.composing-msg-wrapper {
    height: 4rem;
}

.composing-msg-wrapper > div {
    margin: 0 1rem;
}

input.send-message {
    width: 100%;
}